body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.p-1 {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.text{
    margin-top: 20px; 
}

h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}

img {
    width: 100%;
    border: 5px solid white;
}